extends layout

block content
  .container
    .row
      .col-md-5#tasks
        h1 My Task List
        #accordion
      .col-md-5.col-md-offset-1#plan
        h1 Daily Plan
        .ui-widget-content
          ol
            li.placeholder Add your items here
