extends layout

block content
  .container
    .row
      .col-md-5#tasks
        h1 My Task List
        #accordion
          h3 Technical
          ul
            li one
            li two
          h3 Service
          ul
            li hello
            li goodbye
          h3 Development
          ul
            li Pickup Cat
            li Move Dog
      .col-md-5.col-md-offset-1#plan
        h1 Daily Plan
        .ui-widget-content
          ol
            li.placeholder Add your items here
