extends layout

block content
  .container
    h1 My Task List
  .container
    .row
      .col-md-4
        #accordion
          h3 First header
          div First content panel
          h3 Second header
          div Second content panel
          h3 Third header
          div Third content panel
