body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Indie Flower', cursive;
}

a {
  color: #00B7FF;
}

* {
  font-size: 24px;
  font-family: 'Indie Flower', cursive;
}

h1, h3, h4 {
  font-family: 'Indie Flower', cursive;
}

.modal-header{
  font-family: 'Indie Flower', cursive;
}

li:hover {
  cursor: pointer;
}

#addtask {
  margin-top: 15px;
}